
a {
    color: black;
}

.main {
    padding-bottom: 20px;
    padding-top: 20px;
}

.mono {
    font-family: "Courier", monospace;
    font-size: 10pt;
}

.space-after {
    margin-bottom: 1em;
}

.space-before {
    margin-top: 1em;
}

h1.left {
    font-size: 14px;
}

