body {
    color: #444;
    font-family: 'Sorts Mill Goudy', Georgia, serif;
    font-size: 15px; }

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: normal;
    color: #222;
    font-family: 'Linden Hill', Helvetica, sans-serif;
    line-height: 1em; }

a { color: black; }

.header, .site {
    /* text-align: justify; */
    line-height: 1.2em;
    width: 35em;
    margin: 3em auto 2em;
}

.publications li { margin-bottom: 1em; }

.header a { text-decoration: none; }

.center {
    text-align: center;
    display: block; }
